@media (min-width: 1281px) {
}
@media (min-width: 1025px) and (max-width: 1280px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
    .index-page {
        .play-to-earn {
            .play-to-earn-contant {
                h1 {
                    font-size: 40px;
                    span {
                    }
                }
                .wax {
                    .wax-content {
                        img {
                        }
                    }
                }
                h4 {
                    font-size: 18px;
                }
            }
            .card-container {
                .my-card {
                    .top-img {
                        width: 50%;
                    }
                    .my-card-bg {
                        border-radius: 26px;
                    }
                    .txt-1 {
                        top: 7%;
                        font-size: 18px;
                    }
                    .txt-2 {
                        top: 17%;
                        font-size: 15px;
                    }
                    .price-pot {
                        .pot-title {
                            font-size: 18px;
                        }
                        .price-pot-details {
                            .price {
                                h1 {
                                    font-size: 28px;
                                }
                            }
                            .token-info {
                                padding: 0;
                                margin-top: 13px;
                                p {
                                    font-size: 12px;
                                }
                                .first-cp {
                                    font-size: 12px;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                    .fee {
                        font-size: 14px;
                    }
                    .play-button {
                    }
                    .i-button {
                    }
                }
                .card-2 {
                    .fee {
                        color: #70d51a;
                    }
                }
                .card-3 {
                    .txt-1 {
                    }
                    .development-message {
                        top: 30%;
                    }
                    .my-progress-bar {
                        .inner-bar {
                            .bar-content {
                                .text-content {
                                    p {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .chart-area {
            .chart-content {
                h1 {
                    font-size: 30px;
                }
                .border-bt {
                }
                .my-chart {
                    .my-chart-inner-text {
                        h2 {
                            font-size: 24px;
                        }
                        h3 {
                            font-size: 28px;
                        }
                    }
                }
                .blockchain-card {
                    h2 {
                    }
                    img {
                    }
                    p {
                        font-size: 20px;
                        a {
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 425px) and (max-width: 767px) {
    .index-page {
        .play-to-earn {
            .play-to-earn-contant {
                h1 {
                    font-size: 36px;
                    span {
                    }
                }
                .wax {
                    .wax-content {
                        img {
                        }
                    }
                }
                h4 {
                    font-size: 18px;
                }
            }
            .card-container {
                .my-card {
                    .top-img {
                        width: 50%;
                    }
                    .my-card-bg {
                        border-radius: 26px;
                    }
                    .txt-1 {
                        top: 7%;
                        font-size: 18px;
                    }
                    .txt-2 {
                        top: 17%;
                        font-size: 15px;
                    }
                    .price-pot {
                        .pot-title {
                            font-size: 18px;
                        }
                        .price-pot-details {
                            .price {
                                h1 {
                                    font-size: 58px;
                                    text-align: center;
                                }
                            }
                            .token-info {
                                padding: 0;
                                margin-top: 13px;
                                p {
                                    font-size: 14px;
                                    text-align: center;
                                }
                                .first-cp {
                                    font-size: 14px;
                                    text-align: center;
                                    margin-bottom: 10px;
                                    line-height: 1;
                                }
                            }
                        }
                    }
                    .fee {
                        font-size: 24px;
                    }
                    .play-button {
                    }
                    .i-button {
                    }
                }
                .card-2 {
                    .fee {
                        color: #70d51a;
                    }
                }
                .card-3 {
                    .txt-1 {
                    }
                    .development-message {
                        top: 30%;
                        font-size: 30px;
                    }
                    .my-progress-bar {
                        .inner-bar {
                            .bar-content {
                                .text-content {
                                    p {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .chart-area {
            .chart-content {
                h1 {
                    font-size: 30px;
                }
                .border-bt {
                }
                .my-chart {
                    .my-chart-inner-text {
                        h2 {
                            font-size: 24px;
                        }
                        h3 {
                            font-size: 28px;
                        }
                    }
                }
                .blockchain-card {
                    h2 {
                    }
                    img {
                    }
                    p {
                        font-size: 20px;
                        a {
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 320px) and (max-width: 424px) {
    .index-page {
        .play-to-earn {
            .play-to-earn-contant {
                h1 {
                    font-size: 36px;
                    span {
                    }
                }
                .wax {
                    .wax-content {
                        img {
                        }
                    }
                }
                h4 {
                    font-size: 18px;
                }
            }
            .card-container {
                .my-card {
                    .top-img {
                        width: 50%;
                    }
                    .my-card-bg {
                        border-radius: 26px;
                    }
                    .txt-1 {
                        top: 7%;
                        font-size: 18px;
                    }
                    .txt-2 {
                        top: 17%;
                        font-size: 15px;
                    }
                    .price-pot {
                        .pot-title {
                            font-size: 18px;
                        }
                        .price-pot-details {
                            .price {
                                h1 {
                                    font-size: 28px;
                                    text-align: center;
                                }
                            }
                            .token-info {
                                padding: 0;
                                margin-top: 13px;
                                p {
                                    font-size: 14px;
                                    text-align: center;
                                }
                                .first-cp {
                                    font-size: 14px;
                                    text-align: center;
                                    margin-bottom: 10px;
                                    line-height: 1;
                                }
                            }
                        }
                    }
                    .fee {
                        font-size: 14px;
                    }
                    .play-button {
                    }
                    .i-button {
                    }
                }
                .card-2 {
                    .fee {
                        color: #70d51a;
                        font-size: 14px;
                    }
                }
                .card-3 {
                    .txt-1 {
                    }
                    .development-message {
                        top: 30%;
                        font-size: 30px;
                    }
                    .my-progress-bar {
                        .inner-bar {
                            .bar-content {
                                .text-content {
                                    p {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .chart-area {
            .chart-content {
                h1 {
                    font-size: 30px;
                }
                .border-bt {
                }
                .my-chart {
                    .my-chart-inner-text {
                        h2 {
                            font-size: 18px;
                        }
                        h3 {
                            font-size: 20px;
                        }
                    }
                }
                .blockchain-card {
                    h2 {
                    }
                    img {
                    }
                    p {
                        font-size: 20px;
                        a {
                        }
                    }
                }
            }
        }
    }
}
